form input.input-text {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    line-height: 26px;
    padding: 0 8px;
}
form textarea {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    line-height: 26px;
    padding: 0 8px;
    margin: 0 0 8px;
}
